![sql](img/sql-logo.jpg)

# A beginner's guide to databases, SQL, & using them with `pandas`

**Scenario:** You are a data analyst for the Homeland Security, trying to create reports on the active airports world wide. The data you need to access is in a SQL database. YOu need to be able to query for the data in a database!

## Learning goals:
- Goal 1: Summarize the use case for sql in the data science skill set
- Goal 2: Define key sql terminology
- Goal 3: Get information about DB schema and table structure
- Goal 4: Use basic SQL commands:
    - Construct SQL queries
    - Use JOIN to merge tables along logical columns
    - Grouping Data with SQL
- Goal 5: Query data from pandas dataframes using SQL
- Goal 6: Convert SQL to pandas

## Goal 1: Summarize

[Netflix has a great article](https://medium.com/netflix-techblog/notebook-innovation-591ee3221233) describing three different data roles at their company, their different needs, and their toolsets.

![netflix](img/netflix-data-roles.jpeg)

Examining that graphic, SQL shows up as one of the tools of the _Data Engineer_

Data Engineers provide the essential data architecture services that make data science possible.

![hierarchy](img/ai-hierachy.png)

[Source: Monica Rogati’s fantastic Medium post “The AI Hierarchy of Needs”
](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

![etl](img/etl.png)

[img source: Jeff Hammerbacher’s slide from UC Berkeley CS 194 course ](https://bcourses.berkeley.edu/courses/1377158/pages/cs-194-16-introduction-to-data-science-fall-2015)

### What is a Relational Database? 

![rdb](img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

***
## Goal 2: Database terminology

### Relational Database Schema

![schema](img/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)

### Table columns view
![table example](img/columns.png)

### Terminology

- Schema
- Primary Key
- Foreign Key
- Structured queries
- Views

***
### SQLite

![sqlite](img/SQLite-Python.jpg)

"SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. Some applications can use SQLite for internal data storage. It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle." - [sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## But what about connecting to database servers?

To connect to an Oracle database server there is a different package, `cx_Oracle`. The documentation for that package is [here](https://oracle.github.io/python-cx_Oracle/)

***
## Goal 3: Get going with sqlite!

In [1]:
import sqlite3
from pprint import pprint

#### Load a DB object with `connect` and `cursor`

In [2]:
con = sqlite3.connect('flights.db')
cursor = con.cursor()

#### Use sqlite_master to find all the tables in the schema
Get the schema of a database from a db in sqlite

In [3]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('airports',), ('airlines',), ('routes',)]

#### Get information about one table

**A note about** `execute`<br>
Each time you use it, you reset the value of cursor

In [4]:
print(cursor.execute("SELECT * FROM airports"))
print(cursor.fetchmany(4))

<sqlite3.Cursor object at 0x7ffa3018c180>
[(0, '1', 'Goroka', 'Goroka', 'Papua New Guinea', 'GKA', 'AYGA', '-6.081689', '145.391881', '5282', '10', 'U', 'Pacific/Port_Moresby'), (1, '2', 'Madang', 'Madang', 'Papua New Guinea', 'MAG', 'AYMD', '-5.207083', '145.7887', '20', '10', 'U', 'Pacific/Port_Moresby'), (2, '3', 'Mount Hagen', 'Mount Hagen', 'Papua New Guinea', 'HGU', 'AYMH', '-5.826789', '144.295861', '5388', '10', 'U', 'Pacific/Port_Moresby'), (3, '4', 'Nadzab', 'Nadzab', 'Papua New Guinea', 'LAE', 'AYNZ', '-6.569828', '146.726242', '239', '10', 'U', 'Pacific/Port_Moresby')]

#### Use description

In [5]:
cursor.description

(('index', None, None, None, None, None, None),
 ('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('code', None, None, None, None, None, None),
 ('icao', None, None, None, None, None, None),
 ('latitude', None, None, None, None, None, None),
 ('longitude', None, None, None, None, None, None),
 ('altitude', None, None, None, None, None, None),
 ('offset', None, None, None, None, None, None),
 ('dst', None, None, None, None, None, None),
 ('timezone', None, None, None, None, None, None))

#### Or use `Pragma`
`Pragma` tool [link here](https://www.sqlite.org/pragma.html#pragma_table_info)

**output**<br>
`(column id, column name, data type, whether or not the column can be NULL, and the default value for the column)`

In [6]:
cursor.execute("PRAGMA table_info(airports)")
info = cursor.fetchall()
print(info, sep = " ")

[(0, 'index', 'INTEGER', 0, None, 0), (1, 'id', 'TEXT', 0, None, 0), (2, 'name', 'TEXT', 0, None, 0), (3, 'city', 'TEXT', 0, None, 0), (4, 'country', 'TEXT', 0, None, 0), (5, 'code', 'TEXT', 0, None, 0), (6, 'icao', 'TEXT', 0, None, 0), (7, 'latitude', 'TEXT', 0, None, 0), (8, 'longitude', 'TEXT', 0, None, 0), (9, 'altitude', 'TEXT', 0, None, 0), (10, 'offset', 'TEXT', 0, None, 0), (11, 'dst', 'TEXT', 0, None, 0), (12, 'timezone', 'TEXT', 0, None, 0)]

#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`

**Task:** Get the descriptive data for airlines and routes tables

In [7]:
cursor.execute("""SELECT * from routes""")

In [8]:
print(cursor.fetchone())

(0, '2B', '410', 'AER', '2965', 'KZN', '2990', None, '0', 'CR2')

***
## Goal 4: Use basic SQL commands 
- Construct SQL queries
- Use JOIN to merge tables along logical columns
- Grouping Data with SQL

### Construct SQL queries

**Select**

**From**

**Where**

**Order by**

**Limit**

#### Options for each:

**Select**:  `distinct`, using `as` to rename columns, single number aggregates

**From:** also uses aliasing with `as`

**Where**: equals is only one `=`, `between`, `in`, wildcards `%`, `AND`, `OR`, `NOT`

**Order by**: `asc` and `desc`

**Limit**:  #

In [9]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('airports',), ('airlines',), ('routes',)]

In [10]:
cursor.execute("SELECT * FROM airports")
cursor.description

(('index', None, None, None, None, None, None),
 ('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('code', None, None, None, None, None, None),
 ('icao', None, None, None, None, None, None),
 ('latitude', None, None, None, None, None, None),
 ('longitude', None, None, None, None, None, None),
 ('altitude', None, None, None, None, None, None),
 ('offset', None, None, None, None, None, None),
 ('dst', None, None, None, None, None, None),
 ('timezone', None, None, None, None, None, None))

In [11]:
cursor.execute("SELECT DISTINCT name FROM airlines WHERE active = 'Y' AND country = 'United Kingdom' ORDER BY name ASC;")
pprint(cursor.fetchmany(50))

[('AD Aviation',),
 ('Air Cudlua',),
 ('Air Foyle',),
 ('Air Southwest',),
 ('Air Wales',),
 ('All Europe',),
 ('Astraeus',),
 ('Aurigny Air Services',),
 ('BA CityFlyer',),
 ('BBN-Airways',),
 ('British Airways',),
 ('British International Helicopters',),
 ('British Mediterranean Airways',),
 ('British Midland Regional',),
 ('CB Airways UK ( Interliging Flights )',),
 ('Crest Aviation',),
 ('Eastern Airways',),
 ('Excel Airways',),
 ('Excel Charter',),
 ('First Choice Airways',),
 ('Flightline',),
 ('Flybe',),
 ('Flyglobespan',),
 ('GB Airways',),
 ('Highland Airways',),
 ('Jc royal.britannica',),
 ('Jet2.com',),
 ('Kinloss Flying Training Unit',),
 ('Monarch Airlines',),
 ('MyTravel Airways',),
 ('Norfolk County Flight College',),
 ('Rainbow Air Euro',),
 ('Royal European Airlines',),
 ('ScotAirways',),
 ('Thomas Cook Airlines',),
 ('Thomsonfly',),
 ('Virgin Atlantic Airways',),
 ('bmi',),
 ('bmibaby',),
 ('easyJet',)]

**Task**: 
- Select only active airlines in the UK from the airlines table
- Select the unique list of countries with airports

In [12]:
cursor.execute("SELECT DISTINCT country FROM airports ORDER BY country ASC")
pprint(cursor.fetchmany(40))

[('Afghanistan',),
 ('Albania',),
 ('Algeria',),
 ('American Samoa',),
 ('Angola',),
 ('Anguilla',),
 ('Antarctica',),
 ('Antigua and Barbuda',),
 ('Argentina',),
 ('Armenia',),
 ('Aruba',),
 ('Australia',),
 ('Austria',),
 ('Azerbaijan',),
 ('Bahamas',),
 ('Bahrain',),
 ('Bangladesh',),
 ('Barbados',),
 ('Belarus',),
 ('Belgium',),
 ('Belize',),
 ('Benin',),
 ('Bermuda',),
 ('Bhutan',),
 ('Bolivia',),
 ('Bosnia and Herzegovina',),
 ('Botswana',),
 ('Brazil',),
 ('British Indian Ocean Territory',),
 ('British Virgin Islands',),
 ('Brunei',),
 ('Bulgaria',),
 ('Burkina Faso',),
 ('Burma',),
 ('Burundi',),
 ('Cambodia',),
 ('Cameroon',),
 ('Canada',),
 ('Cape Verde',),
 ('Cayman Islands',)]

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

![venn](img/venn.png)

**Task** Write a query that will join the latitude and longitude data from the airports table to the information on the routes table

In [13]:
cursor.execute("SELECT * FROM airports")
print(cursor.fetchmany(10))

[(0, '1', 'Goroka', 'Goroka', 'Papua New Guinea', 'GKA', 'AYGA', '-6.081689', '145.391881', '5282', '10', 'U', 'Pacific/Port_Moresby'), (1, '2', 'Madang', 'Madang', 'Papua New Guinea', 'MAG', 'AYMD', '-5.207083', '145.7887', '20', '10', 'U', 'Pacific/Port_Moresby'), (2, '3', 'Mount Hagen', 'Mount Hagen', 'Papua New Guinea', 'HGU', 'AYMH', '-5.826789', '144.295861', '5388', '10', 'U', 'Pacific/Port_Moresby'), (3, '4', 'Nadzab', 'Nadzab', 'Papua New Guinea', 'LAE', 'AYNZ', '-6.569828', '146.726242', '239', '10', 'U', 'Pacific/Port_Moresby'), (4, '5', 'Port Moresby Jacksons Intl', 'Port Moresby', 'Papua New Guinea', 'POM', 'AYPY', '-9.443383', '147.22005', '146', '10', 'U', 'Pacific/Port_Moresby'), (5, '6', 'Wewak Intl', 'Wewak', 'Papua New Guinea', 'WWK', 'AYWK', '-3.583828', '143.669186', '19', '10', 'U', 'Pacific/Port_Moresby'), (6, '7', 'Narsarsuaq', 'Narssarssuaq', 'Greenland', 'UAK', 'BGBW', '61.160517', '-45.425978', '112', '-3', 'E', 'America/Godthab'), (7, '8', 'Nuuk', 'Godthaab', 'Greenland', 'GOH', 'BGGH', '64.190922', '-51.678064', '283', '-3', 'E', 'America/Godthab'), (8, '9', 'Sondre Stromfjord', 'Sondrestrom', 'Greenland', 'SFJ', 'BGSF', '67.016969', '-50.689325', '165', '-3', 'E', 'America/Godthab'), (9, '10', 'Thule Air Base', 'Thule', 'Greenland', 'THU', 'BGTL', '76.531203', '-68.703161', '251', '-4', 'E', 'America/Thule')]

In [14]:
cursor.description

(('index', None, None, None, None, None, None),
 ('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('code', None, None, None, None, None, None),
 ('icao', None, None, None, None, None, None),
 ('latitude', None, None, None, None, None, None),
 ('longitude', None, None, None, None, None, None),
 ('altitude', None, None, None, None, None, None),
 ('offset', None, None, None, None, None, None),
 ('dst', None, None, None, None, None, None),
 ('timezone', None, None, None, None, None, None))

In [15]:
cursor.execute("SELECT * FROM airports")
cursor.fetchmany(10)

[(0,
  '1',
  'Goroka',
  'Goroka',
  'Papua New Guinea',
  'GKA',
  'AYGA',
  '-6.081689',
  '145.391881',
  '5282',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (1,
  '2',
  'Madang',
  'Madang',
  'Papua New Guinea',
  'MAG',
  'AYMD',
  '-5.207083',
  '145.7887',
  '20',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (2,
  '3',
  'Mount Hagen',
  'Mount Hagen',
  'Papua New Guinea',
  'HGU',
  'AYMH',
  '-5.826789',
  '144.295861',
  '5388',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (3,
  '4',
  'Nadzab',
  'Nadzab',
  'Papua New Guinea',
  'LAE',
  'AYNZ',
  '-6.569828',
  '146.726242',
  '239',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (4,
  '5',
  'Port Moresby Jacksons Intl',
  'Port Moresby',
  'Papua New Guinea',
  'POM',
  'AYPY',
  '-9.443383',
  '147.22005',
  '146',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (5,
  '6',
  'Wewak Intl',
  'Wewak',
  'Papua New Guinea',
  'WWK',
  'AYWK',
  '-3.583828',
  '143.669186',
  '19',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (6,
  '7',
  'Narsarsuaq',
  'Narssarssuaq',
  'Greenland',
  'UAK',
  'BGBW',
  '61.160517',
  '-45.425978',
  '112',
  '-3',
  'E',
  'America/Godthab'),
 (7,
  '8',
  'Nuuk',
  'Godthaab',
  'Greenland',
  'GOH',
  'BGGH',
  '64.190922',
  '-51.678064',
  '283',
  '-3',
  'E',
  'America/Godthab'),
 (8,
  '9',
  'Sondre Stromfjord',
  'Sondrestrom',
  'Greenland',
  'SFJ',
  'BGSF',
  '67.016969',
  '-50.689325',
  '165',
  '-3',
  'E',
  'America/Godthab'),
 (9,
  '10',
  'Thule Air Base',
  'Thule',
  'Greenland',
  'THU',
  'BGTL',
  '76.531203',
  '-68.703161',
  '251',
  '-4',
  'E',
  'America/Thule')]

In [16]:
cursor.description

(('index', None, None, None, None, None, None),
 ('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('code', None, None, None, None, None, None),
 ('icao', None, None, None, None, None, None),
 ('latitude', None, None, None, None, None, None),
 ('longitude', None, None, None, None, None, None),
 ('altitude', None, None, None, None, None, None),
 ('offset', None, None, None, None, None, None),
 ('dst', None, None, None, None, None, None),
 ('timezone', None, None, None, None, None, None))

In [17]:
cursor.execute("SELECT name, latitude, longitude FROM airports INNER JOIN routes ON code = source ORDER BY name ASC")
pprint(cursor.fetchmany(20))

[('A Coruna', '43.302061', '-8.377256'),
 ('A Coruna', '43.302061', '-8.377256'),
 ('A Coruna', '43.302061', '-8.377256'),
 ('A Coruna', '43.302061', '-8.377256'),
 ('A Coruna', '43.302061', '-8.377256'),
 ('A Coruna', '43.302061', '-8.377256'),
 ('A Coruna', '43.302061', '-8.377256'),
 ('A Coruna', '43.302061', '-8.377256'),
 ('A Coruna', '43.302061', '-8.377256'),
 ('A Coruna', '43.302061', '-8.377256'),
 ('A Coruna', '43.302061', '-8.377256'),
 ('A Coruna', '43.302061', '-8.377256'),
 ('Aalborg', '57.092789', '9.849164'),
 ('Aalborg', '57.092789', '9.849164'),
 ('Aalborg', '57.092789', '9.849164'),
 ('Aalborg', '57.092789', '9.849164'),
 ('Aalborg', '57.092789', '9.849164'),
 ('Aalborg', '57.092789', '9.849164'),
 ('Aalborg', '57.092789', '9.849164'),
 ('Aalborg', '57.092789', '9.849164')]

### Grouping statements

Combines `select` and `group by` when you want aggregates by values

`select` `min(x)` ... `max()`, `sum()`, etc

`group by x`

**Task**<br>
- Which countries have the highest amount of active airports?
- Which countries have the highest amount of inactive airports?
- What about airports by timezones?

In [18]:
cursor.execute("SELECT country, COUNT(name) FROM airlines WHERE active = 'Y' GROUP BY country ORDER BY COUNT(name) DESC;")
pprint(cursor.fetchmany(10))

[('United States', 141),
 ('Russia', 72),
 ('United Kingdom', 40),
 ('Germany', 37),
 ('Canada', 34),
 ('Australia', 26),
 ('China', 25),
 ('Spain', 24),
 ('Brazil', 23),
 ('France', 22)]

In [19]:
cursor.execute("SELECT country, COUNT(name) FROM airlines WHERE active = 'N' GROUP BY country ORDER BY COUNT(name) DESC;")
pprint(cursor.fetchmany(10))

[('United States', 939),
 ('Mexico', 427),
 ('United Kingdom', 367),
 ('Canada', 284),
 ('Russia', 158),
 ('Spain', 142),
 ('France', 97),
 ('Germany', 94),
 ('South Africa', 81),
 ('Nigeria', 80)]

In [20]:
cursor.execute("SELECT timezone, COUNT(ID) FROM airports GROUP BY timezone ORDER BY COUNT(ID) DESC;")
pprint(cursor.fetchmany(10))

[('America/New_York', 628),
 ('America/Chicago', 373),
 ('Europe/Berlin', 319),
 ('America/Anchorage', 258),
 ('Europe/Paris', 232),
 ('America/Los_Angeles', 226),
 ('Asia/Chongqing', 222),
 ('Europe/London', 193),
 ('America/Toronto', 159),
 ('Asia/Calcutta', 141)]

## Goal 5: Using sql within pandas to filter

`.query()`

[query documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html)

In [21]:
# Get data for an example
import pandas as pd
shelter_data=pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
shelter_data.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Date of Birth       object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object

In [22]:
max_data = shelter_data.query('Name == "Max"')
max_data.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
24,A800872,Max,08/01/2019 04:37:00 PM,08/01/2019 04:37:00 PM,06/12/2019,Adoption,NaN,Dog,Neutered Male,1 month,German Shepherd Mix,Tan/Black
179,A800791,Max,07/29/2019 06:07:00 PM,07/29/2019 06:07:00 PM,07/26/2017,Return to Owner,NaN,Dog,Intact Male,2 years,Pit Bull,Brown/White
314,A788916,Max,07/27/2019 05:16:00 PM,07/27/2019 05:16:00 PM,11/26/2018,Return to Owner,NaN,Dog,Neutered Male,7 months,Pit Bull Mix,Brown Brindle/White
342,A799870,Max,07/26/2019 07:17:00 PM,07/26/2019 07:17:00 PM,07/13/2017,Return to Owner,NaN,Dog,Intact Male,2 years,German Shepherd,Brown/Black
1222,A799881,Max,07/13/2019 02:33:00 PM,07/13/2019 02:33:00 PM,05/13/2019,Transfer,Partner,Dog,Intact Male,1 month,Yorkshire Terrier Mix,Brown/White

In [23]:
shelter_data[shelter_data['Name']=="Max"]

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
24,A800872,Max,08/01/2019 04:37:00 PM,08/01/2019 04:37:00 PM,06/12/2019,Adoption,NaN,Dog,Neutered Male,1 month,German Shepherd Mix,Tan/Black
179,A800791,Max,07/29/2019 06:07:00 PM,07/29/2019 06:07:00 PM,07/26/2017,Return to Owner,NaN,Dog,Intact Male,2 years,Pit Bull,Brown/White
314,A788916,Max,07/27/2019 05:16:00 PM,07/27/2019 05:16:00 PM,11/26/2018,Return to Owner,NaN,Dog,Neutered Male,7 months,Pit Bull Mix,Brown Brindle/White
342,A799870,Max,07/26/2019 07:17:00 PM,07/26/2019 07:17:00 PM,07/13/2017,Return to Owner,NaN,Dog,Intact Male,2 years,German Shepherd,Brown/Black
1222,A799881,Max,07/13/2019 02:33:00 PM,07/13/2019 02:33:00 PM,05/13/2019,Transfer,Partner,Dog,Intact Male,1 month,Yorkshire Terrier Mix,Brown/White
1587,A798950,Max,07/07/2019 01:31:00 PM,07/07/2019 01:31:00 PM,07/02/2017,Adoption,NaN,Dog,Neutered Male,2 years,American Bulldog,White/Blue
1736,A799025,Max,07/05/2019 11:13:00 AM,07/05/2019 11:13:00 AM,01/19/2019,Return to Owner,NaN,Dog,Neutered Male,5 months,German Shepherd Mix,Tan
2016,A798743,Max,06/30/2019 04:54:00 PM,06/30/2019 04:54:00 PM,10/29/2018,Return to Owner,NaN,Dog,Intact Male,8 months,Maltese/Miniature Poodle,White/Tan
2471,A700767,Max,06/25/2019 02:12:00 PM,06/25/2019 02:12:00 PM,04/19/2011,Return to Owner,NaN,Dog,Neutered Male,8 years,Labrador Retriever/Plott Hound,Brown Brindle/White
2781,A797355,Max,06/21/2019 06:39:00 PM,06/21/2019 06:39:00 PM,12/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Pit Bull Mix,Chocolate/White
2793,A797407,Max,06/21/2019 04:05:00 PM,06/21/2019 04:05:00 PM,03/13/2019,Adoption,NaN,Dog,Neutered Male,3 months,German Shepherd/Chinese Sharpei,Tricolor
2949,A797258,Max,06/19/2019 12:58:00 PM,06/19/2019 12:58:00 PM,02/11/2018,Transfer,Partner,Dog,Intact Male,1 year,Rottweiler Mix,Black/Tan
3015,A797814,Max,06/18/2019 12:52:00 PM,06/18/2019 12:52:00 PM,06/18/2017,Return to Owner,NaN,Dog,Intact Male,2 years,Pug,Tan/Black
3059,A797341,Max,06/17/2019 05:12:00 PM,06/17/2019 05:12:00 PM,03/12/2019,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Cream Tabby/White
3278,A680607,Max,06/14/2019 11:50:00 AM,06/14/2019 11:50:00 AM,04/04/2014,Return to Owner,NaN,Dog,Neutered Male,5 years,Chihuahua Shorthair Mix,Tan/White
3344,A797339,Max,06/13/2019 11:39:00 AM,06/13/2019 11:39:00 AM,06/12/2017,Return to Owner,NaN,Dog,Intact Male,2 years,Welsh Terrier/Miniature Poodle,Tan/Gray
3583,A780200,Max,06/10/2019 10:53:00 AM,06/10/2019 10:53:00 AM,09/11/2014,Rto-Adopt,NaN,Dog,Neutered Male,4 years,German Shepherd Mix,Brown/Black
3607,A793073,Max,06/09/2019 05:52:00 PM,06/09/2019 05:52:00 PM,06/02/2018,Adoption,NaN,Dog,Neutered Male,1 year,Boxer Mix,Brown/Tricolor
3960,A744193,Max,06/04/2019 03:30:00 PM,06/04/2019 03:30:00 PM,09/27/2016,Adoption,NaN,Dog,Neutered Male,2 years,Cairn Terrier Mix,Tan/White
4023,A794951,Max,06/03/2019 07:30:00 PM,06/03/2019 07:30:00 PM,05/14/2017,Rto-Adopt,NaN,Dog,Intact Male,2 years,Labrador Retriever,Red
4182,A796351,Max,06/01/2019 04:18:00 PM,06/01/2019 04:18:00 PM,05/31/2010,Return to Owner,NaN,Cat,Neutered Male,9 years,Domestic Shorthair,Black/White
4314,A795976,Max,05/30/2019 11:20:00 AM,05/30/2019 11:20:00 AM,05/27/2008,Transfer,Partner,Dog,Neutered Male,11 years,Maltese,White
4813,A784016,Max,05/21/2019 03:13:00 PM,05/21/2019 03:13:00 PM,08/10/2018,Return to Owner,NaN,Dog,Intact Male,9 months,Staffordshire Mix,Brown Brindle/White
5621,A443876,Max,05/06/2019 04:56:00 PM,05/06/2019 04:56:00 PM,03/21/2006,Adoption,NaN,Cat,Neutered Male,13 years,Domestic Shorthair Mix,Blue Tabby/White
5948,A793215,Max,04/30/2019 11:49:00 AM,04/30/2019 11:49:00 AM,04/21/2017,Return to Owner,NaN,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,Black/White
6098,A731802,Max,04/26/2019 06:17:00 PM,04/26/2019 06:17:00 PM,07/27/2015,Adoption,NaN,Dog,Neutered Male,3 years,Maltese Mix,White
6099,A789320,Max,04/26/2019 06:01:00 PM,04/26/2019 06:01:00 PM,08/19/2017,Adoption,NaN,Dog,Neutered Male,1 year,Pit Bull Mix,White/Black
6437,A793073,Max,04/19/2019 01:55:00 PM,04/19/2019 01:55:00 PM,06/02/2018,Return to Owner,NaN,Dog,Intact Male,10 months,Boxer Mix,Brown/Tricolor
6556,A791972,Max,04/17/2019 01:35:00 PM,04/17/2019 01:35:00 PM,04/03/2018,Transfer,Partner,Dog,Neutered Male,1 year,Golden Retriever/Border Collie,Tan/White
6773,A789119,Max,04/13/2019 12:45:00 PM,04/13/2019 12:45:00 PM,12/17/2014,Adoption,NaN,Dog,Intact Male,4 years,Catahoula Mix,Red
...,...,...,...,...,...,...,...,...,...,...,...,...
98212,A648236,Max,02/26/2014 04:50:00 PM,02/26/2014 04:50:00 PM,04/24/2012,Return to Owner,NaN,Dog,Neutered Male,1 year,Australian Cattle Dog Mix,Red Tick/White
98475,A673191,Max,02/20/2014 03:40:00 PM,02/20/2014 03:40:00 PM,02/19/2011,Euthanasia,Rabies Risk,Dog,Intact Male,3 years,Labrador Retriever Mix,Brown/White
98673,A671314,Max,02/16/2014 11:53:00 AM,02/16/2014 11:53:00 AM,03/22/2013,Adoption,NaN,Dog,Neutered Male,10 months,Collie Rough Mix,White/Black
98840,A672335,Max,02/11/2014 06:20:00 PM,02/11/2014 06:20:00 PM,02/08/2012,Return to Owner,NaN,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,Black/Tan
99137,A671503,Max,02/03/2014 06:11:00 PM,02/03/2014 06:11:00 PM,01/25/2012,Adoption,NaN,Dog,Neutered Male,2 years,Beagle/Dachshund,White/Brown
99180,A652954,Max,02/03/2014 11:40:00 AM,02/03/2014 11:40:00 AM,12/17/2012,Adoption,NaN,Dog,Neutered Male,1 year,German Shepherd/Labrador Retriever,Brown/Black
99211,A671583,Max,02/02/2014 02:59:00 PM,02/02/2014 02:59:00 PM,04/01/2013,Adoption,NaN,Dog,Neutered Male,10 months,Wire Hair Fox Terrier Mix,White/Black
99240,A671583,Max,02/01/2014 05:40:00 PM,02/01/2014 05:40:00 PM,04/01/2013,Adoption,NaN,Dog,Neutered Male,10 months,Wire Hair Fox Terrier Mix,White/Black
99930,A670802,Max,01/15/2014 06:53:00 PM,01/15/2014 06:53:00 PM,07/14/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Labrador Retriever Mix,Tan
100135,A665405,Max,01/10/2014 06:41:00 PM,01/10/2014 06:41:00 PM,06/17/2013,Adoption,NaN,Dog,Neutered Male,6 months,Labrador Retriever Mix,Black/White
100153,A648236,Max,01/10/2014 03:19:00 PM,01/10/2014 03:19:00 PM,04/24/2012,Return to Owner,NaN,Dog,Neutered Male,1 year,Australian Cattle Dog Mix,Red Tick/White
100209,A664369,Max,01/08/2014 07:19:00 PM,01/08/2014 07:19:00 PM,05/27/2013,Return to Owner,NaN,Dog,Neutered Male,7 months,Labrador Retriever/German Shepherd,Black
100314,A669946,Max,01/05/2014 06:11:00 PM,01/05/2014 06:11:00 PM,12/30/2012,Adoption,NaN,Dog,Neutered Male,1 year,Labrador Retriever Mix,Black
100567,A669266,Max,12/31/2013 04:51:00 PM,12/31/2013 04:51:00 PM,07/27/2013,Adoption,NaN,Dog,Neutered Male,5 months,Pit Bull Mix,White/Black Brindle
100982,A522774,Max,12/23/2013 04:45:00 PM,12/23/2013 04:45:00 PM,10/02/2006,Return to Owner,NaN,Dog,Neutered Male,7 years,Chihuahua Shorthair,Tricolor
101100,A669211,Max,12/21/2013 06:25:00 PM,12/21/2013 06:25:00 PM,12/17/2011,Adoption,NaN,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,White/Brown
101214,A669274,Max,12/19/2013 05:10:00 PM,12/19/2013 05:10:00 PM,12/17/2011,Return to Owner,NaN,Dog,Neutered Male,2 years,Cardigan Welsh Corgi Mix,White
101481,A590637,Max,12/14/2013 01:10:00 PM,12/14/2013 01:10:00 PM,12/21/2009,Adoption,NaN,Dog,Neutered Male,3 years,German Shepherd Mix,Tan/White
101526,A668634,Max,12/13/2013 12:10:00 PM,12/13/2013 12:10:00 PM,02/06/2013,Adoption,NaN,Dog,Neutered Male,10 months,Anatol Shepherd/Labrador Retriever,Brown Brindle/White
101719,A668750,Max,12/08/2013 06:13:00 PM,12/08/2013 06:13:00 PM,12/08/2011,Return to Owner,NaN,Dog,Neutered Male,2 years,Basset Hound Mix,Black/White
101759,A668202,Max,12/08/2013 01:01:00 PM,12/08/2013 01:01:00 PM,01/29/2013,Adoption,NaN,Dog,Neutered Male,10 months,German Shepherd Mix,Brown/White
102654,A661874,Max,11/17/2013 12:53:00 PM,11/17/2013 12:53:00 PM,06/15/2013,Transfer,Partner,Dog,Neutered Male,5 months,Miniature Schnauzer Mix,Black/White
103369,A605315,Max,11/02/2013 12:08:00 PM,11/02/2013 12:08:00 PM,01/06/2009,Return to Owner,NaN,Dog,Neutered Male,4 years,American Pit Bull Terrier,Black/White
103425,A665263,Max,11/01/2013 11:37:00 AM,11/01/2013 11:37:00 AM,07/31/2013,Adoption,NaN,Dog,Neutered Male,3 months,Labrador Retriever Mix,Black
103459,A665445,Max,10/31/2013 01:03:00 PM,10/31/2013 01:03:00 PM,06/18/2013,Adoption,NaN,Dog,Neutered Male,4 months,Labrador Retriever Mix,Brown/Black
103643,A664692,Max,10/27/2013 02:45:00 PM,10/27/2013 02:45:00 PM,10/07/2007,Transfer,Partner,Cat,Neutered Male,6 years,Russian Blue Mix,Blue
103673,A665743,Max,10/26/2013 06:38:00 PM,10/26/2013 06:38:00 PM,12/22/2012,Adoption,NaN,Dog,Neutered Male,10 months,Jack Russell Terrier/Chihuahua Shorthair,White/Brown
103919,A665405,Max,10/21/2013 04:59:00 PM,10/21/2013 04:59:00 PM,06/17/2013,Adoption,NaN,Dog,Neutered Male,4 months,Labrador Retriever Mix,Black/White
104447,A664369,Max,10/12/2013 06:00:00 PM,10/12/2013 06:00:00 PM,05/27/2013,Return to Owner,NaN,Dog,Neutered Male,4 months,Labrador Retriever/German Shepherd,Black
104456,A662933,Max,10/12/2013 05:13:00 PM,10/12/2013 05:13:00 PM,09/10/2006,Return to Owner,NaN,Dog,Neutered Male,7 years,Pug Mix,Brown/Black

In [24]:
shelter_data.rename(index=str, columns={"Animal Type": "animal_type"}, inplace = True)
test = shelter_data.query('animal_type == "Dog"')
test.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,animal_type,Sex upon Outcome,Age upon Outcome,Breed,Color
2,A800494,Ducky,08/01/2019 07:27:00 PM,08/01/2019 07:27:00 PM,10/22/2018,Adoption,NaN,Dog,Spayed Female,9 months,Whippet Mix,Black/White
4,A800251,Kobe,08/01/2019 07:00:00 PM,08/01/2019 07:00:00 PM,01/18/2017,Return to Owner,NaN,Dog,Neutered Male,2 years,Doberman Pinsch,Red
5,A800913,NaN,08/01/2019 06:42:00 PM,08/01/2019 06:42:00 PM,06/09/2019,Adoption,NaN,Dog,Spayed Female,1 month,Pointer Mix,Chocolate/White
6,A800911,Sawyer,08/01/2019 06:32:00 PM,08/01/2019 06:32:00 PM,06/09/2019,Adoption,NaN,Dog,Spayed Female,1 month,Pointer Mix,Black/White
10,A800614,NaN,08/01/2019 06:31:00 PM,08/01/2019 06:31:00 PM,03/24/2019,Adoption,NaN,Dog,Neutered Male,4 months,Pit Bull,Fawn/White

## Goal 6: Transfering from sqlite to pandas

In [26]:
conn = sqlite3.connect("flights.db")
df = pd.read_sql_query("SELECT * FROM airports;", conn)
df

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby
5,5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10,U,Pacific/Port_Moresby
6,6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3,E,America/Godthab
7,7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3,E,America/Godthab
8,8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3,E,America/Godthab
9,9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4,E,America/Thule
10,10,11,Akureyri,Akureyri,Iceland,AEY,BIAR,65.659994,-18.072703,6,0,N,Atlantic/Reykjavik
11,11,12,Egilsstadir,Egilsstadir,Iceland,EGS,BIEG,65.283333,-14.401389,76,0,N,Atlantic/Reykjavik
12,12,13,Hornafjordur,Hofn,Iceland,HFN,BIHN,64.295556,-15.227222,24,0,N,Atlantic/Reykjavik
13,13,14,Husavik,Husavik,Iceland,HZK,BIHU,65.952328,-17.425978,48,0,N,Atlantic/Reykjavik
14,14,15,Isafjordur,Isafjordur,Iceland,IFJ,BIIS,66.058056,-23.135278,8,0,N,Atlantic/Reykjavik
15,15,16,Keflavik International Airport,Keflavik,Iceland,KEF,BIKF,63.985,-22.605556,171,0,N,Atlantic/Reykjavik
16,16,17,Patreksfjordur,Patreksfjordur,Iceland,PFJ,BIPA,65.555833,-23.965,11,0,N,Atlantic/Reykjavik
17,17,18,Reykjavik,Reykjavik,Iceland,RKV,BIRK,64.13,-21.940556,48,0,N,Atlantic/Reykjavik
18,18,19,Siglufjordur,Siglufjordur,Iceland,SIJ,BISI,66.133333,-18.916667,10,0,N,Atlantic/Reykjavik
19,19,20,Vestmannaeyjar,Vestmannaeyjar,Iceland,VEY,BIVM,63.424303,-20.278875,326,0,N,Atlantic/Reykjavik
20,20,21,Sault Ste Marie,Sault Sainte Marie,Canada,YAM,CYAM,46.485001,-84.509445,630,-5,A,America/Toronto
21,21,22,Winnipeg St Andrews,Winnipeg,Canada,YAV,CYAV,50.056389,-97.0325,760,-6,A,America/Winnipeg
22,22,23,Shearwater,Halifax,Canada,YAW,CYAW,44.639721,-63.499444,167,-4,A,America/Halifax
23,23,24,St Anthony,St. Anthony,Canada,YAY,CYAY,51.391944,-56.083056,108,-3.5,A,America/St_Johns
24,24,25,Tofino,Tofino,Canada,YAZ,CYAZ,49.082222,-125.7725,80,-8,A,America/Vancouver
25,25,26,Kugaaruk,Pelly Bay,Canada,YBB,CYBB,68.534444,-89.808056,56,-7,A,America/Edmonton
26,26,27,Baie Comeau,Baie Comeau,Canada,YBC,CYBC,49.1325,-68.204444,71,-5,A,America/Toronto
27,27,28,Bagotville,Bagotville,Canada,YBG,CYBG,48.330555,-70.996391,522,-5,A,America/Toronto
28,28,29,Baker Lake,Baker Lake,Canada,YBK,CYBK,64.298889,-96.077778,59,-6,A,America/Winnipeg
29,29,30,Campbell River,Campbell River,Canada,YBL,CYBL,49.950832,-125.270833,346,-8,A,America/Vancouver
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8077,8077,9512,Port of Seattle,Seattle,United States,None,PSEA,47.609178,-122.350605,0,-8,A,America/Los_Angeles
8078,8078,9513,Ferry Terminal,Whittier,United States,None,WHIT,60.776566,-148.683367,0,-9,A,America/Anchorage
8079,8079,9514,Ferry Terminal,Valdez,United States,None,VLDZ,61.123976,-146.365309,0,-9,A,America/Anchorage
8080,8080,9515,Gare Routiere,Saint-Louis,Reunion,None,STLS,-21.289604,55.407269,103,4,E,Indian/Reunion
8081,8081,9516,Bus Stop,La Riviere,Reunion,None,LRIV,-21.272574,55.437706,190,4,E,Indian/Reunion
8082,8082,9517,Bus Stop,Cilaos,Reunion,None,CILS,-21.135518,55.472087,4000,4,E,Indian/Reunion
8083,8083,9518,Bus Stop,Hell-Bourg,Reunion,None,HLBG,-21.06402,55.518453,3000,4,E,Indian/Reunion
8084,8084,9519,Bus Stop,Salazie,Reunion,None,SLZI,-21.027485,55.538955,3000,4,E,Indian/Reunion
8085,8085,9520,Gare,St Andre,Reunion,None,ANDR,-20.963272,55.652508,100,4,E,Indian/Reunion
8086,8086,9521,L'Ocean Bus Terminal,Saint Denis,Reunion,None,SDNS,-20.877683,55.457393,0,4,E,Indian/Reunion
8087,8087,9522,Gare Routiere,Saint Pierre,Reunion,None,STPR,-21.33424,55.471331,0,4,E,Indian/Reunion
8088,8088,9523,Baie Ste Anne,Praslin,Seychelles,None,PLIN,-4.347119,55.765688,0,4,N,Indian/Mahe
8089,8089,9524,La Passe,La Digue,Seychelles,None,LADG,-4.347969,55.829069,0,4,N,Indian/Mahe
8090,8090,9525,Ferry Dock,Bainbridge Island,United States,None,BAIN,47.622237,-122.509362,0,-8,A,America/Los_Angeles
8091,8091,9526,Bus,Phnom Penh,Cambodia,None,PNMP,11.561716,104.914276,0,7,N,Asia/Phnom_Penh
8092,8092,9527,Bus,Siem Reap,Cambodia,None,SMRP,13.361002,103.859543,0,7,N,Asia/Phnom_Penh
8093,8093,9528,Bus,Sihanoukville,Cambodia,None,SNKV,10.60722,103.524886,0,7,N,Asia/Phnom_Penh
8094,8094,9529,Bus,Kampot,Cambodia,None,KMPT,10.614922,104.177724,0,7,N,Asia/Phnom_Penh
8095,8095,9530,Bus,Kep,Cambodia,None,KEPC,10.480174,104.294228,0,7,N,Asia/Phnom_Penh
8096,8096,9531,Main Station,Taipei,Taiwan,None,TPEI,25.046176,121.517532,0,8,N,Asia/Taipei
8097,8097,9532,Prominent Hill,Prominent Hill,Australia,PXH,YPMH,-29.716667,135.521667,734,9.5,O,Australia/Adelaide
8098,8098,9533,Chatsworth Station,Chatsworth,United States,CWT,\N,34.256944,-118.598889,978,-8,A,America/Los_Angeles
8099,8099,9534,Algerciras Port,Algerciras,Spain,None,\N,36.136,-5.435,0,1,E,Europe/Madrid
8100,8100,9535,Ganges Water Aerodrome,Ganges,Canada,YGG,\N,48.85,-123.5,0,-8,A,America/Vancouver
8101,8101,9536,Pender Harbour Water Aerodrome,Pender Harbour,Canada,YPT,\N,49.616667,-124.016667,0,-8,A,America/Vancouver
8102,8102,9537,Mansons Landing Water Aerodrome,Mansons Landing,Canada,YMU,\N,50.066667,-124.983333,0,-8,A,America/Vancouver
8103,8103,9538,Port McNeill Airport,Port McNeill,Canada,YMP,\N,50.575556,-127.028611,225,-8,A,America/Vancouver
8104,8104,9539,Sullivan Bay Water Aerodrome,Sullivan Bay,Canada,YTG,\N,50.883333,-126.833333,0,-8,A,America/Vancouver
8105,8105,9540,Deer Harbor Seaplane,Deer Harbor,United States,DHB,\N,48.618397,-123.00596,0,-8,A,America/Los_Angeles
8106,8106,9541,San Diego Old Town Transit Center,San Diego,United States,OLT,\N,32.7552,-117.1995,0,-8,A,America/Los_Angeles

**Task**: 
Convert one of the earlier queries in the lesson to a pandas data frame

## Integration

The [Chinook database](https://github.com/lerocha/chinook-database) is a sample database, representing a digital media store.

###### You need to create a query that can rank tracks in terms of popularity.

The name of the database is `Chinook_Sqlite.sqlite`

Database information:<br>
- How many tables are in the database?
- What's the primary key of each table?
- What foreign keys join the tables together?
- If you had to draw a schema of how the tables are connected, what would it look like?

To answer the question:<br>
- What are the max and min dates in the Invoice table?
- What tables would you need to answer "what is your most popular track?"
- What values from each table?

In [33]:
con = sqlite3.connect('Chinook_Sqlite.sqlite')
cursor = con.cursor()

In [72]:
cursor.execute("SELECT name FROM sqlite_master;")
cursor.fetchall()

[('Album',),
 ('Artist',),
 ('Customer',),
 ('Employee',),
 ('Genre',),
 ('Invoice',),
 ('InvoiceLine',),
 ('MediaType',),
 ('Playlist',),
 ('PlaylistTrack',),
 ('sqlite_autoindex_PlaylistTrack_1',),
 ('Track',),
 ('IPK_Album',),
 ('IPK_Artist',),
 ('IPK_Customer',),
 ('IPK_Employee',),
 ('IPK_Genre',),
 ('IPK_Invoice',),
 ('IPK_InvoiceLine',),
 ('IPK_MediaType',),
 ('IPK_Playlist',),
 ('IPK_PlaylistTrack',),
 ('IPK_Track',),
 ('IFK_AlbumArtistId',),
 ('IFK_CustomerSupportRepId',),
 ('IFK_EmployeeReportsTo',),
 ('IFK_InvoiceCustomerId',),
 ('IFK_InvoiceLineInvoiceId',),
 ('IFK_InvoiceLineTrackId',),
 ('IFK_PlaylistTrackTrackId',),
 ('IFK_TrackAlbumId',),
 ('IFK_TrackGenreId',),
 ('IFK_TrackMediaTypeId',)]

In [68]:
cursor.execute("SELECT * FROM PlaylistTrack;")
cursor.description

(('PlaylistId', None, None, None, None, None, None),
 ('TrackId', None, None, None, None, None, None))

In [74]:
cursor.execute("SELECT MAX(InvoiceDate) FROM INVOICE")
cursor.fetchall()

[('2013-12-22 00:00:00',)]

In [75]:
cursor.execute("SELECT MIN(InvoiceDate) FROM INVOICE")
cursor.fetchall()

[('2009-01-01 00:00:00',)]

In [78]:
cursor.execute("SELECT COUNT(InvoiceLineID) FROM InvoiceLine LEFT JOIN Track ON TrackID GROUP BY TrackID;")

OperationalError: ambiguous column name: TrackID

## Reflection